</div>
</div>


</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="../../controller/chat.js"></script>
<script src="../../controller/clientnews.js"></script>

<script>
window.onload=function () {  
    var msgBox = document.getElementById("output");             //to scroll to bottom by default
    if(msgBox)
    {
        msgBox.scrollTop = msgBox.scrollHeight;      
    }                           
    
    var newsbox = document.getElementById("news-content-column");
    if(newsbox)
    {
        newsbox.scrollTop = newsbox.scrollHeight;   
    }
}

function changetheme()
{
    const element = document.getElementById('switch');
    element.classList.toggle('dark-theme'); 
}
$(".add-ans").click(function() {
  $(".add").toggleClass("rotate");
//   $(".plus").toggleClass("open");
});
</script>
</body>
</html>