<div id="myModal" class="modal" ng-show="createModal">
    <div class="modal-content">
        <div ng-click="createGrp()"><span class="iconify" data-inline="false" data-icon="akar-icons:cross" style="font-size: 40px;" ></span></div>
        <p>Create Code</p>
    </div>  
</div>

<div id="myModal" class="modal" ng-show="joinModal">
    <div class="modal-content">
        <div ng-click="joinGrp()"><span class="iconify" data-inline="false" data-icon="akar-icons:cross" style="font-size: 40px;" ></span></div>
        <p>Join Code</p>
    </div>  
</div>