<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" href="/img/logo.png" type="image/icon type">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&family=Righteous&family=Saira&display=swap" rel="stylesheet">   
    <script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>
    <script src="lib/angular.js"></script>
    <script src="/lib/angular-route.js"></script>
    <script>
        function changetheme()
        {
            const element = document.getElementById('switch');
            element.classList.toggle('dark-theme'); 
        }    
    </script>
    <script>
        var app= angular.module('mod',['ngRoute']);
        app.config(function($routeProvider){
            $routeProvider
            .when('/',{
                templateUrl:"/views/home.html",
                controller:"ctrl"
            })
        })
        app.controller("ctrl",function($scope){
            $scope.home=[
                {icon:  "fluent:people-audience-20-filled", descr: "Forums"},
                {icon: "emojione-monotone:newspaper",descr: 'News'},
                {icon: "bx:bxs-share-alt",descr:'Resources'},
                {icon:  "clarity:chat-bubble-solid-badged", descr:'Messaging'}
            ];

            $scope.custom = true;
            $scope.ic="carbon:moon";
            $scope.toggleCustom = function() {
                $scope.ic="ic:outline-light-mode";

           // $scope.custom = $scope.custom === false ? true: false;
           if($scope.custom===true){
                    $scope.custom=false;
                    $scope.ic="ic:outline-light-mode";
                }
                else{
                    $scope.custom=true;
                    $scope.ic="ic:outline-light-mode";
                }
            };
            // $scope.moon=true
            // $scope.darktheme=function()
            // {
            //     $scope.moon=false;
            //     $scope.sun=true;
            // }
            // $scope.lighttheme=function()
            // {
            //     $scope.moon=true;
            //     $scope.sun=false;
            // }


        });
    </script>
    
    <title>ChiLi</title>
</head>

<body class="light-theme" id="switch" ng-app="mod" ng-controller="ctrl">

    <div class="header">
        <div class="logo">
            <img src="/img/logo.png">
            <p>ChiLi</p>
        </div>
        <!-- <div class="nav" ng-init="moon='true'" ng-init="sun='true'"> -->
        <div class="nav">
            <a href="#"><span class="iconify" data-inline="false" data-icon="fe:home"></span></a>
            <a href="#"><span class="iconify" data-inline="false" data-icon="carbon:information-square"></span></a>
            <a href="#"><span class="iconify" data-inline="false" data-icon="ic:outline-perm-contact-calendar"></span></a>
            <div  ng-click="toggleCustom()" ><span onclick="changetheme()" class="iconify" data-inline="false" data-icon="{{ic}}"></span>   {{custom}}{{ic}}</div>
            <!-- <span onclick="changetheme()" ng-click="darktheme()" ng-if="moon" class="iconify" data-inline="false" data-icon="carbon:moon"></span>   
            <span onclick="changetheme()" ng-click="lighttheme()" ng-if="sun" class="iconify" data-inline="false" data-icon="ic:outline-light-mode"></span>              -->
            <!-- <span onclick="changetheme()" ng-click="moon='true';sun='false'" ng-show="moon" class="iconify" data-inline="false" data-icon="carbon:moon"></span>   
            <span onclick="changetheme()" ng-click="sun='true';moon='false'" ng-hide="sun" class="iconify" data-inline="false" data-icon="ic:outline-light-mode"></span>              -->
            <div style="display:flex;align-items: center;">
                <button class="sign" style="background: #F8F7F7;color: var(--bghome2);">SignUp</button>
                <button class="sign" style="background: #E83A5A;color: #ffffff;">Login</button>
            </div>
        </div>
    </div>

    <div ng-view></div>
</body>