*
{
    margin: 0;
    padding: 0;
    /* font-family: 'Montserrat', sans-serif; */
}

.container {
    height:100vh;
}

.container3
{
    position: relative;
    width:100%;
    height:100vh;
}

:root
{
    --primary:#3FB3C3;
    --secondary:#D8E9F3;
    --bglight: #ffffff;
    --bgdark: #000000;
    --bgtxtlight:#000000;
    --bgtxtdark: #ffffff;
    --blob1light:invert(63%) sepia(59%) saturate(464%) hue-rotate(140deg) brightness(88%) contrast(83%);
    --blob1dark:invert(30%) sepia(58%) saturate(716%) hue-rotate(175deg) brightness(100%);
    --blob2light:invert(93%) sepia(12%) saturate(653%) hue-rotate(176deg) brightness(101%) contrast(91%);
    --blob2dark:invert(57%) sepia(13%) saturate(1543%) hue-rotate(183deg) brightness(89%) contrast(90%);

}

.light-theme 
{
    --color:var(--primary);
    --bg:var(--bglight);
    --bgtxt:var(--bgtxtlight);
    --blob1:var(--blob1light);
    --blob2:var(--blob2light);
}

.dark-theme 
{
    --color:var(--secondary);
    --bg:var(--bgdark);
    --bgtxt:var(--bgtxtdark);
    --blob1:var(--blob1dark);
    --blob2:var(--blob2dark);
}
body{
    background-color:var(--bg);
    color:var(--bgtxt)
}
.header
{
    width: 100%;
    /* position: fixed; */
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.logo
{
    display: flex;
    align-items: center;
}

.logo p
{
    margin-left:15px;
    margin-top:20px;
    font-family: Righteous;
    font-size: 50px;
}

.nav
{
    display: flex;
    flex-wrap: wrap;
}

.iconify{
    height:50px;
    width: 50px;
    margin-right:25px;
    margin-left:25px;
    color: var(--bg);
}

.sign
{
    width: 112px;
    height: 40px;
    border-radius: 12px;
    border: none;
    margin-left: 10px;
    margin-right: 10px;
    font-family: Saira;
    font-size: 18px;
    font-weight: 900; 
}

.iconify,button:hover
{
    cursor: pointer;
}

.blob1
{
    position: absolute;
    top: 0;
    right: 0; 
    filter: var(--blob1);
    z-index: -1;    
}

.home-content
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.home-text
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap:wrap;
    margin-top:60px;
    margin-bottom:100px;
}

.welcometext
{
    font-family: 'Righteous', cursive;
    width: 547px;
    font-size: 50px;
    color: var(--color);
}

.welcometextfoot
{
    width: 512px;
    font-family: 'Montserrat', sans-serif;
    margin-top:-30px;
    font-size: 20px;
    color: var(--bgtxt);
}

.get-started
{
    background: var(--color);
    color: var(--bg);
    font-family: 'Saira', sans-serif;
    font-size: 40px;
    width: 305px;
    height: 85px;   
    border-radius: 23px;
    border: none;
}

.illustration1
{
    border: none;
    width:700px;
    height:700px;
    margin-top:-80px;
    z-index:-1;
}

.blob2
{
    position: absolute;
    left: 0;
    bottom: 0;
    filter: var(--blob2);
    z-index:-1;
}


.homepage3
{
    display:flex;
    justify-content:space-evenly;
    align-items: center;
}

.homepage3-img
{
    animation:rotate 10s linear infinite;
}

@keyframes rotate
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg); 
    }
}

.homepage3-middle
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.homepage3-middle p
{
    width: 450px;
    font-family: Montserrat;
    font-size: 36px;
}

.homepage3-middle div button
{
    margin:20px;
    width: 148px;
    height: 39px;
    border-radius: 30px;
    border:none;
    font-family: Saira;
    font-weight: bold;
    font-size: 14px;
}

.homepage3-middle-button2
{
    background: var(--bgtxt);
    color:var(--bg);
}

.footer-content
{
    display: flex;
    align-items: center;
}

.footer-wave
{
    z-index:-1;
    position:absolute;
    margin-top:320px;
    width:100%;
    filter:var(--blob1);
}

.footer-logo
{
    display: flex;
    align-items: center;
    flex-grow:1;
}

.footer-logo p
{
    font-family: Righteous;
    font-size: 50px;
    margin-top:10px;
    margin-left:10px;
    color: var(--bg);
}

.footer-links
{
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    font-family: Saira;
    font-size: 30px;
    line-height: 70px;
}

.footer-links a
{
    color: var(--bg);
}

.footer-media
{
    display: flex;
    flex-grow: 3;
    height:100px;
    justify-content:center;
    align-items:flex-end;
}

.footer
{
    bottom:0;
    height: 61px;
    width:100%;
    margin-top:36px;
    background-color: #D8E9F3;
    font-family:Saira;
    font-size: 25px;
    line-height: 60px;
    align-items: center;
}