*
{
    margin: 0;
    padding: 0;
    /* font-family: 'Montserrat', sans-serif; */
}

:root
{
    --primary:#3FB3C3;
    --secondary:#D8E9F3;
    --bglight: #ffffff;
    --bgdark: #000000;
    --bgtxtlight:#000000;
    --bgtxtdark: #ffffff;
    --blob1light:invert(63%) sepia(59%) saturate(464%) hue-rotate(140deg) brightness(88%) contrast(83%);
    --blob1dark:invert(30%) sepia(58%) saturate(716%) hue-rotate(175deg) brightness(100%);
    --blob2light:invert(93%) sepia(12%) saturate(653%) hue-rotate(176deg) brightness(101%) contrast(91%);
    --blob2dark:invert(57%) sepia(13%) saturate(1543%) hue-rotate(183deg) brightness(89%) contrast(90%);

}

.light-theme 
{
    --color:var(--primary);
    --bg:var(--bglight);
    --bgtxt:var(--bgtxtlight);
    --blob1:var(--blob1light);
    --blob2:var(--blob2light);
}

.dark-theme 
{
    --color:var(--secondary);
    --bg:var(--bgdark);
    --bgtxt:var(--bgtxtdark);
    --blob1:var(--blob1dark);
    --blob2:var(--blob2dark);
}
body{
    background-color:var(--bg);
    color:var(--bgtxt)
}
.header
{
    width: 100%;
    /* position: fixed; */
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    /* margin:5px; */
    /* padding:5px; */
    justify-content: space-between;
}

.logo
{
    display: flex;
    align-items: center;
}

.logo p
{
    margin-left:15px;
    margin-top:20px;
    font-family: Righteous;
    font-size: 50px;
}

.nav
{
    display: flex;
    flex-wrap: wrap;
}

.iconify{
    height:50px;
    width: 50px;
    margin-right:25px;
    margin-left:25px;
    color: var(--bg);
}

#sign
{
    width: 112px;
    height: 40px;
    border-radius: 12px;
    border: none;
    margin-left: 10px;
    margin-right: 10px;
    font-family: Saira;
    font-size: 18px;
    font-weight: 900; 
}

.blob1
{
    position: absolute;
    top: 0;
    right: 0; 
    filter: var(--blob1);
    z-index: -1;    
}

.home-content
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.home-text
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap:wrap;
    margin-top:60px;
    margin-bottom:100px;
}

.welcometext
{
    font-family: 'Righteous', cursive;
    width: 547px;
    font-size: 50px;
    color: var(--color);
}

.welcometextfoot
{
    width: 512px;
    font-family: 'Montserrat', sans-serif;
    margin-top:-30px;
    font-size: 20px;
    color: var(--bgtxt);
}

.get-started
{
    background: var(--color);
    color: var(--bg);
    font-family: 'Saira', sans-serif;
    font-size: 40px;
    width: 305px;
    height: 85px;   
    border-radius: 23px;
    border: none;
}

.illustration1
{
    border: none;
    width:700px;
    height:700px;
    margin-top:-80px;
    z-index:-1;
}

.blob2
{
    position: absolute;
    left: 0;
    bottom: 0;
    filter: var(--blob2);
    z-index:-1;
}
