<html lang="en">
<head>
    <link rel="stylesheet" href="./styles/aboutus.css">
    <title>ChiLi | ℹ About Us</title>
</head>
<body>

    <img src="./img/aboutus-blob1.jpg" class="blob1">
    <div class="container">


        <div class="content-container">
            <div class="sidebox">

            </div>

            <div class="middle-content">
                <div>ABOUT US</div>
                <div class="aboutus-content">
                    <p>Learning something new alone can be less exciting. In this current situation, here we come to lighten up your space with our communication platform ChiLi.</p>
                    <p>ChiLi offers you a platform to connect, learn and grow along with people sharing similar interests. We have an easy-to-use interface, attractive and modern UI designed especially for young people.</p>
                    <p>Create groups, add friends and let the game begin. Fuel your curiosity with the outstanding user experience ChiLi services provides you. Stay connected and informed and get the ideal answers to your questions. <a href="#!signup" style="color:var(--bghome2)">Sign up today!</a></p>
                    <p>Wonder why the name ChiLi? Well, the abbreviation of the founders, Chirag and Lis. </p>
                </div>
                <div><a href="#!contactus"><button>Contact Us</button></a></div>
            </div>

            <div class="illustration">

            </div>
        </div>
        

    </div>
    <img src="./img/aboutus-blob2.jpg" class="blob2">

</body>
</html>