<html lang="en">
<head>
    <link rel="stylesheet" href="./styles/aboutus.css">
    <title>ChiLi | ℹ About Us</title>
</head>
<body>

    <img src="./img/aboutus-blob1.jpg" class="blob1">
    <div class="container">


        <div class="content-container">
            <div class="sidebox">

            </div>

            <div class="middle-content">
                <div>ABOUT US</div>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi laudantium doloremque autem eveniet doloribus? Natus odio neque corporis voluptate, est temporibus, esse eum amet sit harum dicta, consequuntur minima vitae!
                Ipsam quis, assumenda cum ipsum at</p>
                <div><a href="#!contactus"><button>Contact Us</button></a></div>
            </div>

            <div class="illustration">

            </div>
        </div>
        

    </div>
    <img src="./img/aboutus-blob2.jpg" class="blob2">

</body>
</html>