<!DOCTYPE html>
<html lang="en">
    
<head>
    <link rel="stylesheet" href="./styles/contactus.css">
    <title>ChiLi | 📲 Contact US</title>
</head>
<body>

        <img src="./img/cblob1left.jpg" class="leftBlob1">
        <img src="./img/cblob1right.jpg" class="rightBlob1">
        <img src="./img/cblob2left.jpg" class="leftBlob2">
        <img src="./img/cblob2right.jpg" class="rightBlob2">

        <div class="formWrapper">
            <div class="form">
                <p>Contact Us</p>
                <div class="formContent">
                    <form action="mailto:chiliecp@gmail.com" method="POST" enctype="multipart/form-data" name="contactusForm">
                        <div class="nameRow">
                            <label for="firstname">Name</label><br>
                            <input type="text" name="firstname" placeholder=" Your name..">
                        </div>
                        <div class="emailRow">
                            <label for="email">Email</label><br>
                            <input type="email" name="email" placeholder=" Your email..">
                        </div>
                        <div class="msgRow">
                            <label for="message">Send a Message</label><br>
                            <textarea name="message" placeholder=" Your message.."></textarea>
                        </div>
                        <button class="submitBtn" type="submit" value="Submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        
        <div class="msgWrapper">
            <div class="msg">
                <p>Questions? Feedbacks? Ideas? </p>
                <p>Always happy to hear from you!</p>
                <p>Fill in the contact form and let’s connect.</p>
                <div>
                    <span class="iconify" data-inline="false" data-icon="akar-icons:facebook-fill"></span>
                    <span class="iconify" data-inline="false" data-icon="akar-icons:instagram-fill"></span>
                    <span class="iconify" data-inline="false" data-icon="akar-icons:twitter-fill"></span>
                </div>
            </div>
        </div>
</body>