<!DOCTYPE html>
<html lang="en">
    
<head>
    <link rel="stylesheet" href="./styles/login.css">
    <title>ChiLi | 🔒 Login</title>
</head>

<body>
    <img src="./img/blob1.jpg" class="blob1">
    <img src="./img/blob4.jpg" class="blob4">
    <div class="container">
        <div class="loginWrapper">
            <img src="./img/blob4.jpg" class="blob4in">
            <div class="imgWrapper">
                <img src="./img/login.jpg" alt="login-image" class="loginImg">
            </div>

            <div class="formWrapper">
                <div class="salutation">
                    <p>Welcome Back</p>
                    <p>Login to your account</p>
                </div>
                <div class="form">
                    <form name="loginForm" method="POST" action="/login">
                        <div class="unameRow">
                            <label for="user_name">Username</label><span> *</span><br>
                            <input type="text" name="user_name" placeholder="Your username" ng-model="user_name" required><br>
                            <span ng-show="loginForm.$submitted || loginForm.user_name.$touched && loginForm.user_name.$error.required">This field is required.</span>
                        </div>
                        <div class="pswdRow">
                            <label for="user_pswd">Password</label><span> *</span><br>
                            <input type="password" name="user_pswd" placeholder="*********" ng-model="user_pswd" required><br>
                            <span ng-show="loginForm.$submitted || loginForm.user_pswd.$touched && loginForm.user_pswd.$error.required">This field is required.</span>
                        </div>
                        <div class="loginBtn">
                            <button>Login</button>
                            <p>Dont have an account? <a href="#!signup">Join free today</a></p></div>
                    </form>
                </div>
            </div>
        </div>    
    </div>
</body>
</html>