<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/signup.css">
    <title>ChiLi | 📝 SignUp</title>
</head>
<body>

    <svg width="1024" height="408" viewBox="0 0 1024 408" xmlns="http://www.w3.org/2000/svg" style="position: absolute;top: 0;right: 0;z-index:-1;">
        <path fill="var(--blob12)" fill-rule="evenodd" clip-rule="evenodd" d="M756.988 -389.712C896.815 -397.5 1057.16 -433.485 1167.14 -376.084C1277.05 -318.723 1250.9 -206.592 1280.75 -116.351C1306.95 -37.1652 1351.2 38.6117 1330.77 118.531C1307.79 208.43 1269.18 305 1158.96 360.142C1047.98 415.661 896.222 409.502 756.988 405.583C623.381 401.821 486.889 390.44 379.231 338.19C271.995 286.146 228.979 200.122 170.936 121.156C102.139 27.5603 -38.6369 -65.1919 10.0156 -164.119C58.6646 -263.038 250.809 -289.703 394.312 -333.043C510.086 -368.008 630.077 -382.644 756.988 -389.712Z" fill="black"/>
    </svg>
        
    <svg width="731" height="351" viewBox="0 0 731 351" xmlns="http://www.w3.org/2000/svg" style="position: absolute;left: 0;bottom: 0;z-index:-1;">
        <path fill="var(--blob12)" fill-rule="evenodd" clip-rule="evenodd" d="M151.988 18.2877C291.815 10.5004 452.16 -25.4851 562.142 31.9163C672.046 89.2773 645.898 201.408 675.752 291.649C701.949 370.835 746.2 446.612 725.773 526.531C702.795 616.43 664.183 713 553.961 768.142C442.984 823.661 291.222 817.502 151.988 813.583C18.3811 809.821 -118.111 798.44 -225.769 746.19C-333.005 694.146 -376.021 608.122 -434.064 529.156C-502.861 435.56 -643.637 342.808 -594.984 243.881C-546.335 144.962 -354.191 118.297 -210.688 74.957C-94.9142 39.9922 25.077 25.3557 151.988 18.2877Z" fill="black"/>
    </svg>
        

    <div class="container" style="display: flex;justify-content: center;align-items: center;margin-top: 30px;">

        <div class="signup-window" style="background: var(--bg);">
            <svg width="731" height="351" viewBox="0 0 731 351" xmlns="http://www.w3.org/2000/svg" style="position:absolute;left:-320.5px;bottom:-74.5px;">
                <path fill="var(--blob12)" fill-rule="evenodd" clip-rule="evenodd" d="M151.988 18.2877C291.815 10.5004 452.16 -25.4851 562.142 31.9163C672.046 89.2773 645.898 201.408 675.752 291.649C701.949 370.835 746.2 446.612 725.773 526.531C702.795 616.43 664.183 713 553.961 768.142C442.984 823.661 291.222 817.502 151.988 813.583C18.3811 809.821 -118.111 798.44 -225.769 746.19C-333.005 694.146 -376.021 608.122 -434.064 529.156C-502.861 435.56 -643.637 342.808 -594.984 243.881C-546.335 144.962 -354.191 118.297 -210.688 74.957C-94.9142 39.9922 25.077 25.3557 151.988 18.2877Z" fill="black"/>
            </svg>

            <div class="signup-left">
                <p>Sign Up !! Cause why not?</p>
                <img src="./img/signup.jpg">
            </div>

            <div class="signup-right">

                <form name="signupForm" method="POST" action="/signup">
                    <div class="userRow">
                        <label for="user_name">Username</label><span> *</span><br>
                        <input type="text" name="user_name" placeholder="Enter username" ng-model="user_name" ng-minlength="6" required><br>
                        <span ng-show="signupForm.$submitted || signupForm.user_name.$touched && signupForm.user_name.$error.required">This field is required.</span>
                        <span ng-show="signupForm.user_name.$touched && signupForm.user_name.$error.minlength">Username must be atleast 6 characters.</span>
                    </div>

                    <div class="nameRow">
                        <label for="full_name">Name</label><span> *</span><br>
                        <input type="text" name="full_name" placeholder="Eg. Chris Evans" ng-model="full_name" required><br>
                        <span ng-show="signupForm.$submitted || signupForm.full_name.$touched && signupForm.full_name.$error.required">This field is required.</span>
                    </div>

                    <div class="emailRow">
                        <label for="user_email">Email</label><span> *</span><br>
                        <input type="text" name="user_email" placeholder="yourname@domain.com" ng-model="user_email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]+$/" required><br>
                        <span ng-show="signupForm.$submitted || signupForm.user_email.$touched && signupForm.user_email.$error.required">This field is required.</span>
                        <span ng-show="signupForm.user_email.$touched && signupForm.user_email.$error.pattern">Please enter email in correct format.</span>
                    </div>

                    <div class="pswdRow">
                        <label for="user_pswd">Choose a Password</label><span> *</span><br>
                        <input type="password" name="user_pswd" placeholder="***********" ng-model="user_pswd" required><br>
                        <span ng-show="signupForm.$submitted || signupForm.user_pswd.$touched && signupForm.user_pswd.$error.required">This field is required.</span>
                    </div>

                    <div><center><button class="signupbtn" value="submit">Lets Go</button></center></div>
                    <div style="text-align:center">Do you already have an account? <a href="#!login">Login</a></div>
                </form>

            </div>

        </div>

    </div>

</body>
</html>