<%- include('./partials/header') %>

    <link rel="stylesheet" href="../style/welcome.css">
    <title>Welcome</title>
</head>
    <%- include('./partials/body') %>

    <div class="welcome-container">

        <img src="../img/welcome.jpg" width= 500px height= 300px>

        <div class="rhs">
            <div class="welcome-text">
                Welcome <br><%=user.full_name%>
            </div>
            <div class="create-join">
                <center>
                <button style="background: #178FFF;">Create</button>
                <button style="background: #182735;color:#fff">Join</button>
                </center>
            </div>
        </div>

    </div>

    <%- include('./partials/footer') %>
    
</body>
</html>