<!DOCTYPE html>
<html lang="en">
    
<head>
    <link rel="stylesheet" href="./styles/contactus.css">
    <title>ChiLi | Contact US</title>
</head>
<body>

        <img src="./img/cblob1left.png" class="leftBlob1">
        <img src="./img/cblob1right.png" class="rightBlob1">
        <img src="./img/cblob2left.png" class="leftBlob2">
        <img src="./img/cblob2right.png" class="rightBlob2">

        <div class="formWrapper">
            <div class="form">
                <p>Contact Us</p>
                <div class="formContent">
                    <form name="contactusForm" novalidate>
                        <div class="nameRow">
                            <label for="fname">Name</label><br>
                            <input type="text" id="fname" name="firstname" placeholder=" Your name..">
                        </div>
                        <div class="emailRow">
                            <label>Email</label><br>
                            <input type="email" name="" id="" placeholder=" Your email..">
                        </div>
                        <div class="msgRow">
                            <label for="">Send a Message</label><br>
                            <textarea name="" id="" placeholder=" Your message.."></textarea>
                        </div>
                        <button class="submitBtn">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        
        <div class="msgWrapper">
            <div class="msg">
                <p>Questions? Feedbacks? Ideas? </p>
                <p>Always happy to hear from you!</p>
                <p>Fill in the contact form and let’s connect.</p>
                <div>
                    <span class="iconify" data-inline="false" data-icon="akar-icons:facebook-fill"></span>
                    <span class="iconify" data-inline="false" data-icon="akar-icons:instagram-fill"></span>
                    <span class="iconify" data-inline="false" data-icon="akar-icons:twitter-fill"></span>
                </div>
            </div>
        </div>
</body>