<!DOCTYPE html>
<html lang="en">
    
<head>
    <link rel="stylesheet" href="../styles/home.css">
    <title>ChiLi</title>
</head>

<body class="light-theme" id="switch">

    <div class="container">

        <img src="../img/blob1.png" class="blob1">

        <div class="home-content">
            <div class="home-text" data-aos="fade-right" data-aos-duration="1000">
                <h1 class="welcometext">Go beyond and make education FUN !!</h1>
                <div class="welcometextfoot">
                    <p>Join groups, explore your knowledge and share thoughts with people from all over the world !!</p>
                    <button>Get Started</button>
                </div>
            </div>
            <div>
                <img src="../img/Illustration.png" class="illustration1" data-aos="fade-left" data-aos-duration="1000">
            </div>
        </div>

        <img src="../img/blob2.png" class="blob2">

    </div>


    
    <div class="container2">
        <img src="../img/blob3.png" class="blob3">
        <img src="../img/blob4.png" class="blob4">
        
        <div class="home-service">
            <div class="wrapper">
                <div class="panels" ng-repeat="x in home" data-aos="zoom-in" data-aos-easing="ease-out-cubic" data-aos-anchor-placement="top-center">
                    <div class="front" ><span id="servicon" class="iconify" data-inline="false" data-icon={{x.icon}} ></span></div>
                    <div class="back" style="color: var(--bgtxt);" >{{x.descr}}</div>
                </div>
            </div>
        </div>
    </div>



    <div class="container3">


        <img src="../img/blob5.png" class="blob5">
       <img src="../img/footer-wave.png" class="footer-wave">

       <div class="homepage3">
           <div class="homepage3-img">
               <img src="../img/get started.png">
           </div>

           <div class="homepage3-middle" data-aos="zoom-in" data-aos-anchor-placement="top-center">
               <p>You've scrolled this far !! What are you waiting for?</p>
               <div>
                   <button style="background: #E73A5A;color:#ffffff">Get in Touch</button>
                   <button class="homepage3-middle-button2">SignUp</button>
               </div>
           </div>

           <div class="laptop">
               <img src="../img/laptop.png">
           </div>
       </div>


       <div class="footer-content">
           <div class="footer-logo" data-aos="fade-right" data-aos-duration="3000" data-aos-delay="300">
               <img src="../img/logo.png">
               <p>ChiLi</p>
           </div>
           
           <div class="footer-links">
               <a href="#">Home</a>
               <a href="#">About Us</a>
               <a href="#">Contact Us</a>
           </div>

           <div class="footer-media" data-aos="fade-left" data-aos-delay="500" data-aos-duration="500">
               <span class="iconify" data-inline="false" data-icon="akar-icons:facebook-fill" style="font-size: 47.040000915527344px;"></span>
               <span class="iconify" data-inline="false" data-icon="akar-icons:instagram-fill" style="font-size: 47.040000915527344px;"></span>
               <span class="iconify" data-inline="false" data-icon="akar-icons:twitter-fill" style="font-size: 47.040000915527344px;"></span>
           </div>
       </div>

       <div class="footer">
           <center><p>© 2021 ChiLi. All rights reserved</p></center>
       </div>


    </div>
</body>
</html>