<!DOCTYPE html>
<html lang="en">
    
<head>
    <link rel="stylesheet" href="../styles/login.css">
    <title>ChiLi</title>
</head>

<body class="light-theme" id="switch">
    <img src="../img/blob1.png" class="blob1">
    <img src="../img/blob4.png" class="blob4">
    <div class="container">
        <div class="loginWrapper">
            <img src="../img/blob4.png" class="blob4in">
            <div class="imgWrapper">
                <img src="../img/login.png" alt="login-image" class="loginImg">
            </div>

            <div class="formWrapper">
                <div class="salutation">
                    <p>Welcome Back</p>
                    <p>Login to your account</p>
                </div>
                <div class="form">
                    <form name="loginForm" novalidate>
                        <div class="emailRow">
                            <label>Email</label><br>
                            <input type="email" name="" id="" placeholder="yourname@domain.com">
                        </div>
                        <div class="pswdRow">
                            <label for="pswd">Name</label><br>
                            <input type="password" id="pswd" name="" placeholder="*********">
                        </div>
                        <div class="remRow">
                            <input type="checkbox" name="chbox" id="chbox">
                            <label for="chbox">Remember me</label>
                        </div>
                        <div class="loginBtn">
                            <button>Login</button>
                            <p>Dont have an account? <a href="#!signup">Join free today</a></p></div>
                    </form>
                </div>
            </div>
        </div>    
    </div>
</body>
</html>