<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/signup.css">
    <title>ChiLi | SignUp</title>
</head>
<body>

    <img src="../img/blob1.png" class="blob1">
    <img src="../img/blob4.png" class="blob4">

    <div class="container">

        <div class="signup-window">
            <img src="../img/blob4.png" class="divblob">

            <div class="signup-left">
                <p>Sign Up !! Cause why not?</p>
                <img src="../img/signup.png">
            </div>

            <div class="signup-right">

                <form name="signupForm" novalidate>
                    <div class="userRow">
                        <label for="username">Username</label><br>
                        <input type="text" name="username" placeholder="Enter username">
                    </div>

                    <div class="nameRow">
                        <label for="fullname">Name</label><br>
                        <input type="text" name="fullname" placeholder="Eg. Chris Evans">
                    </div>

                    <div class="emailRow">
                        <label for="email">Email</label><br>
                        <input type="text" name="email" placeholder="yourname@domain.com">
                    </div>

                    <div class="pswdRow">
                        <label for="pswd">Choose a Password</label><br>
                        <input type="password" name="pswd" placeholder="***********">
                    </div>

                    <div><center><button class="signupbtn" value="submit">Lets Go</button></center></div>
                    <div style="text-align:center">Do you already have an account? <a href="#!login">Login</a></div>
                </form>

            </div>

        </div>

    </div>

</body>
</html>