<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" href="./img/logo.jpg" type="image/icon type">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&family=Inter&family=Teko&family=Righteous&family=Saira&display=swap" rel="stylesheet">   

    <script defer src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>
    <script src="../lib/angular.js"></script>
    <!-- <script src="../lib/angular-route.js"></script> -->
    <script defer src="./controller/app.js"></script>
</head>

<body class="light-theme" id="switch" ng-app="mod2" ng-controller="ctrl2">


    <div class="header">


        <div class="logo">
            <a href="#"><img src="./img/logo.jpg"></a>
            <p>ChiLi</p>
        </div>

        <div class="nav">

            <div ng-show="theme" ng-click="toggletheme()">
                <span onclick="changetheme()" class="iconify" data-inline="false" data-icon="carbon:moon"></span>
            </div>
            <div ng-hide="theme" ng-click="toggletheme()">
                <span onclick="changetheme()" class="iconify" data-inline="false" data-icon="ic:outline-light-mode"></span>
            </div>
            <div class="userimg">
                <!-- User Profile Image -->
            </div>

        </div>

        
    </div>

    <div class="container">


        <div>
            <div ng-show="navicon" id="mySidenav" ng-click="togglenavicon()">
                <span class="iconify" data-inline="false" data-icon="cil:hamburger-menu" style="font-size: 47px;"></span></a>
            </div>

            <div class="sidemenu" ng-hide="navicon" id="main" >
                <div class="sidemenu-welcome">

                    <div>
                        Welcome <br><%=user.user_name%>
                    </div>

                    <div ng-hide="navicon" ng-click="togglenavicon()" style="width:50px;height:50px;padding-right:20px;">
                        <span class="iconify" data-inline="false" data-icon="akar-icons:cross" style="font-size: 40px;"></span>
                    </div>

                </div>

                <div class="dashboard">
                    <p>Dashboard</p>
                    <center><button style="background: #178FFF;">Create</button></center>
                    <center><button style="background: #182735;color:#fff">Join</button></center>
                </div>

                <div class="sidemenu-groups">
                    <p>Groups</p>
                    <div class="group1">
                        <span class="iconify" data-inline="false" data-icon="el:group" style="font-size: 45px;"></span>
                        <span>Group 1</span>
                    </div>
                    <div class="group1">
                        <span class="iconify" data-inline="false" data-icon="el:group" style="font-size: 45px;"></span>
                        <span>Group 1</span>
                    </div>
                    <div class="group1">
                        <span class="iconify" data-inline="false" data-icon="el:group" style="font-size: 45px;"></span>
                        <span>Group 1</span>
                    </div>
                    <div class="group1">
                        <span class="iconify" data-inline="false" data-icon="el:group" style="font-size: 45px;"></span>
                        <span>Group 1</span>
                    </div>
                    <div class="group1">
                        <span class="iconify" data-inline="false" data-icon="el:group" style="font-size: 45px;"></span>
                        <span>Group 1</span>
                    </div>
                </div>
                
            </div>
        </div>


        <div class="container2">
            <div class="maincontent">
                <!-- <div ng-view class="slide"></div> -->
            </div>
        </div>


    </div>

    <script>
        function changetheme()
        {
            const element = document.getElementById('switch');
            element.classList.toggle('dark-theme'); 
        }
    </script>
</body>
</html>