<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">
    <link rel="icon" href="./img/logo.jpg" type="image/icon type">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&family=Inter&family=Teko&family=Righteous&family=Saira&display=swap" rel="stylesheet">   

    <script defer src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>
    <script src="../lib/angular.js"></script>
    <script src="../lib/angular-route.js"></script>
    <script defer src="./controller/app.js"></script>
</head>

<body class="light-theme" id="switch" ng-app="mod2" ng-controller="ctrl2">
    <div class="header">
        <div class="logo">
            <a href="#"><img src="./img/logo.jpg"></a>
            <p>ChiLi</p>
        </div>
        <div class="nav">
            
            <div ng-show="theme" ng-click="toggletheme()">
                <span onclick="changetheme()" class="iconify" data-inline="false" data-icon="carbon:moon"></span>
            </div>
            <div ng-hide="theme" ng-click="toggletheme()">
                <span onclick="changetheme()" class="iconify" data-inline="false" data-icon="ic:outline-light-mode"></span>
            </div>
            <div class="userimg">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="sidemenu">
            <div ng-show="navicon"  ng-click="togglenavicon()">
                <span class="iconify" data-inline="false" data-icon="cil:hamburger-menu" style="font-size: 47px;"></span></a>
            </div>
            <div ng-hide="navicon"  ng-click="togglenavicon()">
                <span class="iconify" data-inline="false" data-icon="maki:cross-15"></span>
            </div>
        </div>
        <div class="maincontent">

        </div>
    </div>
    <div ng-view class="slide"></div>

    <script>
        function changetheme()
        {
            const element = document.getElementById('switch');
            element.classList.toggle('dark-theme'); 
        }  
        
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
            document.getElementById("main").style.marginLeft = "250px";
            }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            document.getElementById("main").style.marginLeft= "0";
            }
        
    </script>
</body>
</html>