*
{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

.sidemenu::-webkit-scrollbar {
    display: none;
}

body{
    height: 100vh;
}

/* Defining ROOT variables */
:root
{
    --primary:#3FB3C3;
    --secondary:#D8E9F3;
    --bglight: #ffffff;
    --bgdark: #000000;
    --bgtxtlight:#000000;
    --bgtxtdark: #ffffff;
    --shadowlight:2px 10px 20px rgba(0, 0, 0, 0.26);
    --shadowdark:10px 10px 10px rgba(255, 255, 255, 0.26);
    --blob12light:invert(63%) sepia(59%) saturate(464%) hue-rotate(140deg) brightness(88%) contrast(83%);
    --blob12dark:invert(15%) sepia(99%) saturate(2704%) hue-rotate(205deg) brightness(91%) contrast(101%);
    --bgwelcomelight: linear-gradient(360deg, #FFFFFF 0%, #3FB3C3 65.5%);
    --bgwelcomedark: linear-gradient(360deg, #000000 0%, #0047A1 65.5%);
    --glass:linear-gradient(to bottom,
    rgba(255,255,255, 0.7),
    rgba(255,255,255, 0.4)
    );
}

.light-theme 
{
    --color:var(--primary);
    --bg:var(--bglight);
    --bgtxt:var(--bgtxtlight);
    --shadow:var(--shadowlight);
    --blob12:var(--blob12light);
    --bgwelcome:var(--bgwelcomelight);
    transition: 2s linear;
}

.dark-theme 
{
    --color:var(--secondary);
    --bg:var(--bgdark);
    --bgtxt:var(--bgtxtdark);
    --shadow:var(--shadowlight);
    --blob12:var(--blob12dark);
    --bgwelcome:var(--bgwelcomedark);
}

/* NAV BAR */
.header
{
    width: 100%;
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.logo
{
    display: flex;
    align-items: center;
}

.logo p
{
    margin-left:15px;
    margin-top:20px;
    font-family: Righteous;
    font-size: 50px;
    color:var(--bgtxt);
}

.nav
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    z-index:2;
}

.iconify{
    height:50px;
    width: 50px;
    margin-right:25px;
    color: var(--bgtxt);
}

.userimg{
    border-radius: 50%;
    background-color: blueviolet;
    margin-right: 20px;
    height: 70px;
    width: 70px;
}

/* Button Styles */
.iconify,button:hover
{
    cursor: pointer;
}

button
{
    border: none;
    box-shadow: 0px 12px 10px -10px rgb(0 0 0 / 50%);
}

.slide
{
    animation:slide 1s ease-in-out;
}

@keyframes slide
{
    0%{
        opacity:0;
    }
    100%{
        opacity: 1;
    }
}

/* Container Styles */
.container{
    margin-top: 12px;
    display: flex;
    flex-wrap: nowrap;
}

.sidemenu{
    height:625px;
    width:300px;
    background:var(--glass);
    box-shadow: var(--shadow);
    border-radius:0px 10px 10px 0px;
    padding:20px;
    overflow: scroll;
}

.sidemenu-welcome{
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
}

.sidemenu-welcome:nth-child(1)
{
    height: 100px;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.15px;    
}

.dashboard
{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height:150px;
}

.dashboard p,.sidemenu-groups p
{
    height: 20px;
    font-size: 15px;
    line-height: 21px;
    letter-spacing: 0.25px;
}

.dashboard button
{
    width: 142px;
    height: 37px;
    border-radius: 20px;    

    font-family: Roboto;
    font-size: 16px;
    letter-spacing: 0.25px;
    color: #000000;
}

.sidemenu-groups{
    padding-top: 30px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.group1
{
    display: flex;
    align-items: center;
    margin-top:20px;
    font-family: Roboto;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.1px;
}

.container2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90vw;
}

.maincontent{
    background:var(--glass);
    box-shadow: var(--shadow);
    width: 1100px;
    height:525px;
    border-radius:20px;
}