*
{
    margin:0;
    padding:0;
}

.container
{
    height:78.5vh;
}

/* Blobs in inline css */

.content-container
{
    margin-top:55px;
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
}


/* About us LHS starts here */
.sidebox
{
    width:15px;
    height:70px;
    background-color:#C24058;
}

.middle-content
{
    display:flex;
    flex-direction: column;
}

.middle-content div:first-child
{
    font-family: Teko;
    font-size: 90px;
    line-height: 82px;
    color: #C24058;
}

.middle-content p
{
    width:600px;
    font-size:20px;
}

.middle-content button
{
    background-color:#C24058;
    width: 184px;
    height: 48px;
    border-radius: 30px;
    margin-top: 50px;
    color:#FFFFFf;
    font-size: 20px;
    font-weight: bold;
}

.aboutus-content p{
    margin-top:10px;
}
/* About us LHS ends here */

.illustration
{
    background-image: url(../img/aboutus.jpg);
    background-size: 782px 580px;
    width:782px;
    height:580px;
    margin-right:70px;
    margin-top:-50px;
}