*
{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}


/* Home Page 1 */
.container {
    height:86vh;
}

.blob1
{
    position: absolute;
    top: 0;
    right: 0; 
    filter: var(--blob12);
    z-index: -1;  
}

.blob2
{
    position: absolute;
    left: 0;
    bottom: 0;
    filter: var(--blob12);
    z-index:-1;
}

.home-content
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* Home Page 1 LHS starts here */
.home-text
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap:wrap;
    margin-top:60px;
}

.welcometext
{
    font-family: 'Righteous', cursive;
    width: 547px;
    font-size: 50px;
    color: var(--color);
}

.welcometextfoot
{
    display: flex;
    flex-direction:column;
    justify-content:space-around;
    height:250px;
}

.welcometextfoot p
{
    width: 400px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: var(--bgtxt);
    margin-bottom:50px;
}

.welcometextfoot div
{
    display:flex;
    justify-content: center;
}

.welcometextfoot button
{
    background: #D8E9F3;
    color: #000000;
    font-family: 'Saira', sans-serif;
    font-size: 40px;
    width: 305px;
    height: 85px;   
    border-radius: 23px;
}
/* Home Page 1 LHS ends here */

.illustration1
{
    background: url(../img/Illustration.jpg);
    width:700px;
    height:700px;
    background-size: 700px 700px;
    margin-top:-80px;
    z-index:-1;
}


/* Home Page 2 */
.container2{
    height:100vh;
    background-color: var(--bghome2);
    position: relative;
}
 
.blob3{
    filter: var(--blob34);
    position: absolute;
    top: 0;
    right: 0; 
    width:898px;
}
.blob4{
    filter: var(--blob34);
    position: absolute;
    left: 0;
    bottom: 0;
}

/* Flip cards starts here */
.homeservice{
    display: flex;
    flex-wrap: wrap;
    align-items:center;
}
.wrapper{
    max-height:100vh;
    width:90%;
    display: flex;
    flex-wrap: wrap;
    
}
.panels{
    position:relative;
    margin-left:225px;
}

.panels div{
    width:250px;
    height:250px;
    margin-left:100px;
    margin-top:100px;    
    cursor: pointer;
}

.panels:nth-child(1) .front,.panels:nth-child(4) .front{
    background: var(--sblob14);
}
.panels:nth-child(1) .back,.panels:nth-child(4) .back{
    background: var(--sblob14);
}
.panels:nth-child(2) .front,.panels:nth-child(3) .front{
    background: var(--sblob23);
}
.panels:nth-child(2) .back,.panels:nth-child(3) .back{
    background: var(--sblob23);
}

/* Flip card animation */
.panels div.front{
    position: absolute;
    border-radius: 39% 57% 52% 45% / 55% 39% 60% 46%;
}

.panels div.back{
    transform: rotateX(90deg);
    border-radius: 39% 57% 52% 45% / 55% 39% 60% 46%;
}

.panels:hover div.front{
    animation: twirl 0.2s ease-in forwards;
}
.panels:hover div.back{
    animation: twirl 0.2s 0.2s ease-in forwards reverse;
}
.panels:not(:hover) div.front{
    animation: revtwirl 0.2s ease-out forwards;
    border-radius: 39% 57% 52% 45% / 55% 39% 60% 46%;
}

@keyframes twirl{
    0% {transform: rotateY(0deg)}
    100%{ transform: rotateY(90deg)}
}
@keyframes revtwirl{
    0%{ transform: rotateY(90deg)}
    100% {transform: rotateY(0deg)}
}

/* Flip card icons */
svg#servicon.iconify{
  
    color: var(--bgtxt);
    margin-top: 70px;
    margin-left: 80px;
    width: 80px;
    height: 80px;
}

/* Flip card text */
div.back{
    padding: 20px;
    text-align: center;
    color: #fff;
    font-size: 20px;    
    letter-spacing: 2px;
}
/* Flip cards ends here */


/* Home Page 3 */
.container3
{
    position: relative;
    width:100%;
    height:100vh;
    overflow: hidden;
}

.blob5
{
    position: absolute;
    z-index:-1;
    top: 0;
    right:0;
    filter:var(--blob12);
}

/* Home Page 3 Section 1 starts here */
.homepage3
{
    display:flex;
    justify-content:space-evenly;
    align-items: center;
}

.homepage3-img
{
    animation:rotate 10s linear infinite;
}

@keyframes rotate
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg); 
    }
}

.homepage3-middle
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.homepage3-middle p
{
    width: 450px;
    font-family: Montserrat;
    font-size: 36px;
}

.homepage3-middle div button
{
    margin:20px;
    width: 148px;
    height: 39px;
    border-radius: 30px;
    font-family: Saira;
    font-weight: bold;
    font-size: 14px;
}

.homepage3-middle-button2
{
    background: var(--bgtxt);
    color:var(--bg);
}
/* Home Page 3 Section 1 ends here */


/* Home Page 3 Section 2 starts here */
.footer-content
{
    display: flex;
    align-items: center;
}

.footer-wave
{
    z-index:-1;
    position:absolute;
    margin-top:320px;
    width:100%;
    filter:var(--blob12);
}

.footer-logo
{
    display: flex;
    align-items: center;
    flex-grow:1;
}

.footer-logo p
{
    font-family: Righteous;
    font-size: 50px;
    margin-top:10px;
    margin-left:10px;
    color: var(--bg);
}

.footer-links
{
    display: flex;
    flex-direction: column;
    /* flex-grow: 2; */
    font-family: Saira;
    font-size: 30px;
    line-height: 70px;
}

.footer-links a
{
    color: var(--bg);
}

.footer-media
{
    display: flex;
    flex-grow: 3;
    height:100px;
    justify-content:center;
    align-items:flex-end;
}
/* Home Page 3 Section 2 ends here */

.footer
{
    bottom:0;
    height: 61px;
    width:100%;
    margin-top:36px;
    background-color: var(--footertext);
    color:#000000;
    font-family:Saira;
    font-size: 25px;
    line-height: 60px;
    align-items: center;
}