body{
    background:var(--bgforums);
}
.groupmark{
    background-color: var(--grpmarkF);
}

a.forumnav{
    bottom: -10px;
}

.forumHeader{
    height:80px;
    background-color:var(--chatbg); 
    border-radius:20px 20px 0 0;
    display: flex;
    justify-content:space-around;
    position:relative;
}

.forumContent{
    height: 405px;
    overflow: scroll;
    border-radius: 0 0 20px 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.forumContent::-webkit-scrollbar {
    display: none;
}

/* Ask Ques Styles */
.askQues {
    display: flex;
    align-items: center;
}
.askQues button {
    height: 48px;
    width: 383px;
    font-size: 25px;
    color: #ffffff;
    background-color: #BA4CCF;
}


/* Search Ques Styles */
.searchQues input[type=text] {
    width: 0px;
    height:40px;
    font-size: 25px;
    color: var(--bgtxt);
    background-color:var(--chatbg);
    padding: 12px 20px 12px 40px;    
    border:none;
    transition: width 0.4s ease-in-out;
}

.searchQues input[type=text]:hover{
    width:90%;
}

.searchQues input[type=text]:focus{
    width:90%;
    outline: none;
    border-bottom: var(--bgtxt) solid;
}

.searchQues input::placeholder{
    color: var(--searchF);
}

.searchQues{
    display: flex;
    align-items: center;
    justify-content:flex-end;  
    width: 400px;
}

.searchQues svg.iconify {
    cursor:default;
    color: var(--searchF);
}

/* Forum Modal */

.forum-modal {
    position: fixed; 
    z-index: 2; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0,0,0,0.4); 

    display: flex;
    justify-content:center;
    align-items:center;
}

.forum-modal-content {
  padding: 20px;
  width: 500px;
  height: 400px;
  background: var(--modalbg);
  border-radius: 20px;
  position: relative;
  z-index: 3;
}

.ques-descr textarea{
    height:200px;
}

.ques-post-btn{
    width:100%;
    display:flex;
    justify-content:flex-end;
}

.ques-post-btn button{
    margin-right:30px;
    font-size:18px;
    font-weight:bold;
    width: 124px;
    height: 42px;
    background: var(--searchF);
    color:#fff;
    border-radius: 0;
}

/* Questions */

.ques-block{
    display: flex;
    justify-content: space-between;
    background-color: var(--chatbg);
    margin: 0 80px 20px;
    padding:20px;
    border-radius:10px;
    text-decoration: none;
    color:var(--bgtxt);
}
.ques-votes{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--searchF);
    margin: -20px;
    border-radius: 0 10px 10px 0;
    width: 120px;
    padding: 5px;
    flex-direction: column;
    color:#FFFFFF;
    position: relative;
}
.tooltip{
    height:42px;
    width: 42px;
}

.tooltip .tooltiptext {
    width: 40px;
    height: 40px;
    background-color: var(--chatbg);
    color: var(--bgtxt);
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    opacity: 1;
    transition: opacity 0.3s;
    visibility: visible;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--chatbg) transparent transparent transparent;
    visibility: visible;
}


/* Forums - PART 2 */
.forumHeader a{
    position: absolute;
    left: 0;
    top: 0;
    padding: 20px;
}

.forumQues{
    display: flex;
    justify-content: space-around;
    height: 405px;
    overflow: scroll;
    border-radius: 0 0 20px 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}


.forumQues::-webkit-scrollbar {
    display: none;
}

.forum-lhs{
    width: 950px;
    height: 400px;
    background-color: var(--chatbg);
}

.forum-rhs{
    position: relative;
    /* width: 400px;
    height: 400px; */
}

.ans-form{
    width: 400px;
    height: 400px;
    background-color: var(--grpmarkF); 
    position: absolute;
    top: 100px;
    right: 30px;   
}

/* .ans-form form{
    position: relative;
} */
.ans-box{
    display:flex;
    flex-direction:column;
}

.add-ans {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--chatbg);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: 0.5s;
    position:absolute;
    right:0;
    z-index: 2;
}

.add-ans:hover{
    transform: rotate(180deg);
}
/* .add-ans:hover+.hide{
    display: block;
    z-index: 1000;
}

.hide {
    display: none;
    z-index: -1000;
} */
.ans-box textarea{
    margin: 40px;
    margin-top: 0;
    height: 225px;
    background: var(--chatbg);
    color: var(--bgtxt);
    padding: 20px;
}

.ans-box label{
    padding: 20px;
    color: var(--bgtxt);
    font-weight: bold;
}

.ans-box textarea::placeholder{
    /* color: #EDBFF5; */
    color: var(--searchF);
}