body{
    background:var(--bgwelcome);
}

a.infonav{
    bottom: -10px;
}

.members-box::-webkit-scrollbar {
    display: none;
}

.groupinfo-container{
    padding:10px;

    font-size: 30px;
    line-height: 35px;
    color: #000000;
}

.info-header{
    position: relative;
    display: flex;
    align-items: center;
    justify-content:center;
}

.info-header button{
    background-color: red;
    width:40px;
    height:38px;
    position:absolute;
    right:5px;
    top:-5px;
    border-radius: 5px;
}

.info-maincontent{
    display:flex;
    padding-top:10px;
    height:92%;
    padding: 10px 20px 0px 20px;
}

.info-lhs{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.lhs-upper{
    display:flex;
    align-items: center;
    justify-content:center;

    font-size: 40px;
    color: #000000;   
}

.lhs-upper div{
    display:flex;
    align-items: center;
    justify-content:center;

    margin:0px 20px 0px 20px;
    width: 110px;
    height: 110px;  
    background:var(--groupdp);
    border-radius:50% 50%;
}

.lhs-middle{
    display:flex;
    align-items: center;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.8);
    width:600px;
    height:200px;
}
.lhs-lower{
    display:flex;
    align-items: center;
}

.lhs-lower button{
    font-weight: 700;
    font-size: 20px;
    color:#fff;
    width: 192px;
    height: 65px;
    background: var(--primarybtn);
    border-radius: 10px;
}

.lhs-lower span{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.8);
    margin-left:40px;
}

.member-names-box{
    display:flex;
    justify-content:space-around;
    align-items:center;
    background:var(--primarybtn);
    width: 452px;
    height: 50px;
    box-shadow: var(--shadow);
    font-size: 20px;
    color: var(--bgtxt);
}

.members-box{
    margin-top:10px;
    background:var(--primarybtn);
    width: 452px;
    height: 87%;
    box-shadow: var(--shadow);
    color: var(--bgtxt)
}

.member-profiles{
    padding:10px 30px 10px 30px;
    display:flex;
    align-items:center;
}

.member-profiles div{
    /* background:url("../img/default-dp2.jpg"); */
    background-size:50px 50px;
    width:50px;
    height:50px;
    border-radius:50% 50%;
}

.member-profiles span{
    margin:0px 10px 0px 30px;
    font-size: 25px;
    font-weight: 500;
    line-height: 23px;
}

.name-username{
    display:flex; 
    flex-direction:column
}

.user-name{
    color:var(--username); 
    font-style:italic;
}

.leave-modal {
    position: fixed; 
    z-index: 2; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0,0,0,0.4); 

    display: flex;
    justify-content:center;
    align-items:center;
  }
  
.leave-modal-content {
  padding: 20px;
  width: 500px;
  height: 400px;
  background: var(--modalbg);
  border-radius: 20px;
  position: relative;
}

.leave-modal-confirm{
    text-align: center;
    color:var(--bgtxt);
}

.leave-modal-button{
    font-size:22px;
    height:200px;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
}